@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Press+Start+2P&family=Roboto:wght@100;300;700;900&display=swap');

:root {
  --accent-color: #00B686;
  background: #f4f7f3;
}

body {
  padding: 20px 24px;

}


.topbar-container {
  display: flex;
  justify-content: space-between;

  .flex-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .icons-container {
    display: flex;
    align-items: center;
    gap: 25px;

    .notification-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .badge {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #F97777;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        font-weight: bold;
      }
    }
  }
}

.hero-container {
  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hero-title {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 32px;
      color: #04433B;

      @media (max-width: 769px) {
        font-size: 24px;
      }
    }
  }

  .hero-background {
    width: 100%;
    position: relative;

    >div {
      position: unset !important;
    }

    border-radius: 15px;
    margin: 20px 0;

    .hero-image {
      @media (max-width: 768px) {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: 130px !important;
        border-radius: 15px;
      }

      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
      border-radius: 10px;
    }

    .logo-wrapper {
      @media (max-width: 768px) {
        scale: .7;
        position: absolute;
        top: 64%;
        left: -3%;
        background: #fff;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        padding: 12px 24px;
      }

      scale: 1;
      position: absolute;
      top: 74%;
      left: 1%;
      background: #fff;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      padding: 12px 24px;
    }

    .proposal-wrapper {
      position: absolute;
      top: 26%;
      left: 70%;
      width: min-content;

    }

    .hero-left {
      display: flex;
      align-items: center;
    }

    .hero-right {
      font-family: 'Montserrat';
      font-weight: 900;
      width: min-content;
      font-size: 42px;

      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
  }
}

.project-section {
  margin-top: 75px;



  .project-title-wrapper>span {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    @media(max-width: 769px) {
      font-size: 20px;
    }
  }

  .project-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .progress-wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-family: 'Montserrat';
      font-size: 14px;
      color: #7B8786;

      @media (max-width: 769px) {
        scale: .9;
        font-size: 13px;
      }

      section {
        display: flex;
        justify-content: space-between;
      }
    }

    .progress-wrapper>div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 10px;
      width: 99.2%;
      border-radius: 50px;
      overflow: hidden;
    }

  }

  .project-content-wrapper {
    .profile-responsive {
      width: 100%;
      height: max-content;

      @media (min-width: 769px) {
        display: none;
      }
    }

    .left-menu-wrapper {
      @media (max-width: 769px) {
        display: none;

      }
    }
  }

  .company-profile {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 600px;

    .profile-title-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-family: 'Montserrat';
          font-size: 24px;
          color: #233735;
          font-weight: 700;
          @media(max-width: 769px) {
            font-size: 20px;
          }
        }
        


      }
    }

    .icon-arary {
      width: fit-content;
      padding: 8px;
      display: flex;
      gap: 9px;
      align-items: center;
      justify-content: space-around;
      border: 1px solid #D3D7D7;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(4px);
    }

    .profile-image-wrapper {
      margin: 24px 0px 16px 0px;
      width: 100%;

      @media (max-width: 769px) {
        margin: 12px 0px 16px 0px;
      }

      #pos-abs {
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #pos-abs2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;

        .we-work {
          padding: 24px 18px 34px 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 18px;
          width: 100%;

          @media (max-width: 769px) {
            width: 400px;
          }




          .we-image {
            object-fit: contain;
            width: 70% !important;
            position: relative !important;
            height: unset !important;
          }

          span {
            font-family: 'Montserrat';
            font-size: 20px;
            font-weight: 700;
          }
        }

        ;
      }

      .profile-image {

        @media (max-width: 768px) {
          object-fit: cover;
          width: 100% !important;
          position: relative !important;
          height: 480px !important;
          border-radius: 15px;
        }

        @media (min-width: 769px) {
          object-fit: contain;
          width: 100% !important;
          position: relative !important;
          height: unset !important;
          border-radius: 10px;
        }
      }
    }

    .message-wrapper {
      width: min-content;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: space-around;

      .notification-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .badge {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #00B686;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 8px;
          font-weight: bold;
        }
      }
    }
  }



























  //   //tab styling

  //   .ant-tabs-tab-btn {
  //     color: #657372;
  //     font-family: 'montserrat';
  //     font-weight: 700;
  //     font-size: 16px;
  //   }

  //   .left-menu-wrapper {

  //     //tab border-bottom

  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  //       font-weight: 700;
  //       color: #657372;
  //     }

  //     .ant-tabs-tab-btn {
  //       color: #657372;
  //       font-family: 'montserrat';
  //       font-weight: 400;
  //       font-size: 14px;
  //     }
  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-left >.ant-tabs-content-holder, :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-left >div>.ant-tabs-content-holder{
  //       border-left:   none;
  //     }
  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-left>.ant-tabs-nav .ant-tabs-tab,
  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-right>.ant-tabs-nav .ant-tabs-tab,
  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-left>div>.ant-tabs-nav .ant-tabs-tab,
  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-right>div>.ant-tabs-nav .ant-tabs-tab {
  //       border-bottom: 1px solid #E9EBEB;
  //     }

  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
  //     .project-section :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  //       width: 100%;
  //       border-bottom: 1px solid #BDC3C2;
  //     }

  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  //       width: 100%;
  //       background-color: #fff;
  //       border-radius: 10px;
  //     }

  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
  //     .project-section .left-menu-wrapper :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  //       padding: 20px;
  //       min-width: 280px;

  //     }

  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  //       color: #657372;
  //     }

  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-left>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab,
  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-right>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab,
  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-left>div>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab,
  //     :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-right>div>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
  //       font-weight: 500;
  //     }
  //   }


  //   :where(.css-dev-only-do-not-override-15rg2km).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  //     color: #00B686;
  //   }


  //   :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
  //   :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
  //     border: 1px solid #BDC3C2;
  //     // background-color: #fff;
  //   }

  //   :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active,
  //   :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab-active {
  //     border-bottom: 1px solid #BDC3C2;
  //   }

  //   :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
  //   :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  //     width: 100%;

  //     :last-child() {
  //       margin-left: auto !important;
  //     }
  //   }

  // }

  // :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-left>.ant-tabs-nav .ant-tabs-ink-bar,
  // :where(.css-dev-only-do-not-override-15rg2km).ant-tabs-left>div>.ant-tabs-nav .ant-tabs-ink-bar {
  //   display: none;
  // }

  // :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
  // :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  //   border-bottom: 1px solid #BDC3C2;
  // }

  // :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>.ant-tabs-nav,
  // :where(.css-dev-only-do-not-override-15rg2km).ant-tabs>div>.ant-tabs-nav {
  //   height: min-content;
  // }

  // .flex-box-3 {
  //   display: flex;
  // }
}